<mat-grid-list style="align-self: center; padding-left: 10px;padding-right: 10px;" cols="3"  gutterSize="2px">
  <mat-grid-tile style="border: 1px groove navajowhite">
    <mat-grid-tile-header>
      <h6 >AngularFire Drop Zone</h6> 
    </mat-grid-tile-header>
    <mat-card style=" max-height: 500px; width: 500px">
      <mat-card-header>
        <h4>Drag and Drop a File</h4>
      </mat-card-header>
      <mat-card-content class="dropzone"
            dropzone
            (hovered)="toggleHover($event)"
            (dropped)="onDrop($event)"
            [class.hovering]="isHovering">
    </mat-card-content>
  </mat-card>
</mat-grid-tile>

<mat-grid-tile style="border: 1px groove navajowhite">
  <mat-grid-tile-header>
    <h6 >Preview</h6> 
  </mat-grid-tile-header>
  <mat-card style="overflow-y: auto; max-height: 500px; height: 500px; width: 500px" >
    <mat-card-content >
      <div *ngFor="let file of files">
        <p>{{file.name}}</p>
        <upload-task (done)="reload()" [file]="file"></upload-task>
      </div>
    </mat-card-content>
</mat-card>
 
</mat-grid-tile>

<mat-grid-tile style="border: 1px groove navajowhite"> 
  <mat-grid-tile-header>
    <h6 style="font-size: 13px">   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Path/Name 
      &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
      &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
      &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;         Download</h6>
  </mat-grid-tile-header>

  <mat-card class="center" style="overflow-y: auto; max-height: 500px; width:600px" *ngIf="(fileUploads$ | async)?.length > 0">
    <mat-card-header>
      <!-- <span>Path</span><span>Download</span> -->
    </mat-card-header>
    <mat-card-content *ngFor="let file of fileUploads$ | async">
          <app-upload-details (done)="reload()" [fileUpload]="file" ></app-upload-details>
    </mat-card-content>
  
  </mat-card>
</mat-grid-tile>

</mat-grid-list>
