/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css"; 
@import "~ag-grid-community/dist/styles/ag-theme-alpine-dark.css"; 

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "~bootstrap/dist/css/bootstrap.css";

.ag-root-wrapper-body.ag-layout-normal {
  height: auto;
}

/* purple-green */
indigo-pink, pink-bluegrey
* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  overflow: hidden;
}

.mat-progress-spinner svg {
  width: 30px !important;
  height: 30px !important;
}

.product-title {
  font-size: 14px;
  color: black
}

.price {
  font-size: 14px;
  color: blue
}

.desription {
  font-size: 10px;
  color: black
}

.dropzone { 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  min-width: 400px;
  font-weight: 100;
  height: 300px;
  border: 2px dashed #f16624;
  border-radius: 5px;
  /* background: white; */
  margin: 10px 0;
}
/* style="background-color: bisque; padding: 10px; border: 1px dotted" */
.hovering {
    border: 2px solid #f16624;
    color: #dadada !important;
}

.file-label {
    font-size: 1.2em;
}


progress::-webkit-progress-value {
  transition: width 0.1s ease;
}