/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css"; 
@import "~ag-grid-community/dist/styles/ag-theme-alpine-dark.css"; 

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.ag-root-wrapper-body.ag-layout-normal {
  height: auto;
}

/* purple-green */
indigo-pink, pink-bluegrey
* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  overflow: auto;
}

.mat-progress-spinner svg {
  width: 30px !important;
  height: 30px !important;
}

.product-title {
  font-size: 14px;
  color: black
}

.price {
  font-size: 14px;
  color: blue
}

.desription {
  font-size: 10px;
  color: black
}